/* ----------FORM ----------- */
.ozz-fm,
.form {
  * {
    font-family: $rub;
    font-size: $font-normal;
  }
  .form-item {
    margin: 0 0 24px;
    &__link {
      font-size: $font-normal;
      color: color(primary);
      &:hover {
        color: color(primary-dark);
      }
    }
  }
  select,
  textarea,
  input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid rgba(color(secondary),0.2);
    border-radius: 5px;
    &:not(input[type="submit"]) {
      transition: .3s ease-in-out;
      &:focus {
        border-color: color(primary);
        box-shadow: 0 0 0 4px rgba(color(primary), 0.2);
      }
    }
    &.error {
      border-color: color(danger);
      background-color: rgba(color(danger), 0.03);
    }
  }
  textarea {
    line-height: 1.5rem;
  }
  .button,
  input[type="submit"] {
    @extend .button;
  }
  .message {
    display: grid;
    line-height: 1.3rem;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    &.success {
      color: color(success);
      border: 1px solid rgba(color(success), 0.3);
      background-color: rgba(color(success), 0.05);
    }
    &.warning {
      color: color(warning);
      border: 1px solid rgba(color(warning), 0.3);
      background-color: rgba(color(warning), 0.05);
    }
    &.danger {
      color: color(danger);
      border: 1px solid rgba(color(danger), 0.3);
      background-color: rgba(color(danger), 0.05);
    }
    a {
      display: contents;
    }
  }
  .error-label {
    display: inline-block;
    font-size: $font-small;
    font-style: italic;
    margin-top: 5px;
    color: color(danger);
  }
  .form-error {
    p {
      margin-top: 0;
    }
  }
}

/* ---------- ERROR COMPONENT ----------- */
.error-component {
  text-align: center;
  height: 80vh;
  display: grid;
  align-items: center;
  .container {
    h1 {
      font-size: $font-medium;
      line-height: 1;
    }
    h2 {
      color: color(gray1);
      font-weight: 400;
      line-height: 1;
    }
  }
}

/* ----------AUTH ----------- */
body {
  &.auth {
    background: color(light1);
    .verify-account {
      text-align: center;
    }
  }
  .off-bottom-link {
    margin: 50px 0;
    text-align: center;
    p,
    span {
      font-size: $font-normal;
      color: color(gray1);
    }
  }
  .auth-comp {
    width: calc(100% - 24px);
    max-width: 390px;
    padding: 36px 0;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: $shadow2;
    background: color(white);
    @media screen and (min-width: 570px) {
      padding: 35px 15px;
    }
    @media screen and (min-width: 768px) {
      padding: 48px;
    }
    .bottom-links {
      display: grid;
      grid-template-columns: auto auto;
    }
    &.user-card {
      .container {
        display: grid;
        grid-template-columns: 80px auto;
        grid-gap: 32px;
        align-items: center;
      }
      .profile-pic {
        img {
          border-radius: 50%;
        }
      }
      .content {
        h1 {
          margin: 0 0 12px;
        }
        p {
          margin: 0;
          &:nth-of-type(1) {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}

/* ----------WELCOME ----------- */
.welcome{
  position: relative;
  height: calc(100vh - 200px);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  .inner{
    text-align: center;
    color: color(secondary);
    @media screen and (min-width: 768px) {
      padding: 60px;
    }
    h1{
      font-size: $font-semi-medium;
      font-weight: 600;
      margin: 0;
      @media screen and (min-width: 768px) {
        font-size: $font-larger;
        line-height: 4.5rem;
      }
      span{
        color: color(primary);
      }
    }
    h4{
      font-size: $font-semi-normal;
      font-weight: normal;
      line-height: 2rem;
      @media screen and (min-width: 768px) {
        font-size: $font-medium;
      }
    }
  }
}
