/* ----------LAYOUT ----------- */
body {
  margin: 0;
  padding: 0;
  background-color: color(white);
  font-family: $rub;
  &.light-bg {
    background-color: color(light1);
  }
  main {
    margin: 0;
    padding: 46px 0 0;
    min-height: calc(100vh - 214px);
  }
  .component {
    &__heading-1 {
      margin: 0 0 24px 0;
      line-height: 2.5rem;
      font-size: $font-medium;
      color: color(secondary);
    }
  }
  .container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 768px) {
      padding: 0 24px;
    }
  }
  .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 24px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .right-align {
    text-align: right;
  }
  .left-align {
    text-align: left;
  }
}

// Common 12 column grid
.cl {
  $col: calc(100% / 12);
  display: inline-block;
  vertical-align: top;
  margin-left: -3px;
  padding-right: 3px;
  margin-right: 0;
  @for $i from 1 through 12 {
    &.cl-#{$i} {
      width: $col * $i;
    }
  }
}
/* Grid Row */
.row {
  .col {
    &:last-of-type {
      padding-right: 0;
    }
  }
}
.col {
  position: relative;
  float: left;
  min-height: 1px;
  padding: 0 15px 0 0;
  &-1 { width: 8.33333333%; }
  &-2 { width: 16.66666667%; }
  &-3 { width: 25%; }
  &-4 { width: 33.33333333%; }
  &-5 { width: 41.66666667%; }
  &-6 { width: 50%; }
  &-7 { width: 58.33333333%; }
  &-8 { width: 66.66666667%; }
  &-9 { width: 75%; }
  &-10 { width: 83.33333333%; }
  &-11 { width: 91.66666667%; }
  &-12 { width: 100%; }
}
/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
