/* ---------- VARIABLES ----------- */
@use 'sass:math';

// Breakpoints
$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

// Font
@font-face {
  font-family: 'Rubik';
  src: url('#{$font-path}rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Rubik-medium';
  src: url('#{$font-path}rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik-bold';
  src: url('#{$font-path}rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 600;
}

$rub: 'Rubik', sans-serif;
$rub-m: 'Rubik-medium', sans-serif;
$rub-b: 'Rubik-bold', sans-serif;

// Font sizes
$font-small: 12px;
$font-small-1: 13px;
$font-small-2: 14px;
$font-small-3: 15px;
$font-normal: 16px;
$font-semi-normal: 18px;
$font-medium: 26px;
$font-semi-medium: 42px;
$font-larger: 62px;

// Colors
$colors: (
  primary: #666EE8,
  secondary: #212121,
  dark: #1f222e,
  dark1: #2B2E3F,
  dark2: #3d4053,
  primary-dark: #555ed3,
  semi-blue: #aeb6da,
  light1: #eeeff8,
  light2: #F7F9FA,
  danger: #F9014E,
  danger-dark: #c7003f,
  warning: #ee8f00,
  blue: #4797ff,
  darkBlue: #006ace,
  lightGreen: #cceed1,
  success: #02be5a,
  dark-green: #00a74e,
  white: #ffffff,
  silver: #e0e0e0,
  gray1: #888888,
  gray2: #aaaaaa,
);

// Shadows
$shadow1: 0 2px 3px rgba(0,0,0,0.1);
$shadow2: 0 3px 6px 0 rgba(0,0,100,0.05);
$dark-shadow1: 0 10px 30px rgba(0,0,0,0.2);

// Border radius
$radius1: 5px;

// Functions
@function color($color) {
  @return map-get($colors, $color);
}

// Media query
@mixin screen ($size) {
  @media screen and ( min-width: map-get($breakpoints, $size) ) {
    @content;
  }
}

// Encode color strings
@function encode-color($string) {
  @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');
    @return '%23' + $string;
  }

  @return $string;
}