/* ----------AUTH ----------- */
body {
  &.auth {
    background: color(light1);
    .verify-account {
      text-align: center;
    }
  }
  .off-bottom-link {
    margin: 50px 0;
    text-align: center;
    p,
    span {
      font-size: $font-normal;
      color: color(gray1);
    }
  }
  .auth-comp {
    width: calc(100% - 24px);
    max-width: 390px;
    padding: 36px 0;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: $shadow2;
    background: color(white);
    @media screen and (min-width: 570px) {
      padding: 35px 15px;
    }
    @media screen and (min-width: 768px) {
      padding: 48px;
    }
    .bottom-links {
      display: grid;
      grid-template-columns: auto auto;
    }
    &.user-card {
      .container {
        display: grid;
        grid-template-columns: 80px auto;
        grid-gap: 32px;
        align-items: center;
      }
      .profile-pic {
        img {
          border-radius: 50%;
        }
      }
      .content {
        h1 {
          margin: 0 0 12px;
        }
        p {
          margin: 0;
          &:nth-of-type(1) {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}
