/* ---------- COMMON ----------- */
*{
  text-decoration: none;
  outline: none;
}
h1 {
  font-size: $font-medium;
}
p {
  font-size: $font-semi-normal;
  line-height: 1.5;
}
.button{
  cursor: pointer;
  outline: none;
  border: none;
  display: block;
  padding: 12px 24px;
  border-radius: 3px;
  background: color(primary);
  font-size: $font-semi-normal;
  font-family: $space;
  font-weight: 500;
  color: color(white);
  &:hover {
    background-color: color(primary-dark);
    border-color: color(primary-dark);
  }
  @media screen and (min-width: 570px) {
    display: inline-block;
    width: auto;
  }
  &[disabled="true"] {
    opacity: 0.4;
    filter: saturate(0);
  }
  &.small {
    padding: 8px 14px;
    font-size: $font-normal;
  }
  &.mini {
    padding: 5px 12px;
    font-size: $font-small-2;
    margin: 2px;
    &.tab-button {
      strong {
        margin-left: 6px;
      }
    }
  }
  &.micro {
    padding: 4px 8px;
    font-size: $font-small-1;
    margin: 2px;
  }
  &.light {
    background-color: color(light2);
    border: 1px solid color(silver);
    color: color(secondary);
    border-radius: 3px;
    &:hover {
      background-color: color(light1);
    }
    &.active {
      color: color(white);
      background-color: color(primary);
      border-color: transparent;
    }
  }
  &.danger {
    background-color: color(danger);
    color: color(white);
    &:hover {
      background-color: color(danger-dark);
    }
  }
  &.green {
    background-color: color(success);
    &:hover {
      background-color: color(dark-green);
    }
  }
}
.common-alert-bar {
  position: fixed;
  max-width: 500px;
  top: 60px;
  right: 42px;
  z-index: 997;
  .message {
    display: block;
    padding: 16px 30px;
    font-size: $font-normal;
    text-align: center;
    border-radius: 5px 0 0 5px;
    transition: .3s ease-in-out;
    animation: slide-from-right .3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    background-color: rgba(color(white), 0.9);
    &.success {
      color: color(success);
      border-right: 6px solid color(success);
    }
    &.error,
    &.danger {
      color: color(danger);
      border-right: 6px solid color(danger);
    }
    &.info {
      background-color: color(primary);
      border-right: 6px solid color(primary);
    }
  }
}
.link {
  font-size: $font-normal;
  color: color(primary);
  &:hover {
    color: color(primary-dark);
  }
}
.c-green {
  color: color(success);
}
.c-red {
  color: color(danger);
}
.c-orange {
  color: color(warning);
}
.c-gray {
  color: color(gray1);
}
.hr1 {
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  padding: 0;
}
.required-star {
  margin-left: 3px;
  color: color(danger);
}
.ozz-pagination {
  padding: 10px;
  .pagination {
    a {
      text-decoration: none;
    }
    button {
      padding: 5px 10px;
      background-color: color(silver);
      color: color(dark1);
      font-size: 14px;
      font-weight: 500;
      border: none;
      border-radius: 5px;
      margin: 1px;
      cursor: pointer;
      &:hover,
      &.current-page {
        color: color(white);
      }
      &:hover {
        background-color: color(primary);
      }
      &.current-page {
        background-color: color(primary-dark);
      }
    }
  }
}