:root {
  --white: #ffffff;
  --light1: #F5FFF7;
  --dark1: #1e1e1e;
  --dark2: #212121;
  --dark3: #333;
  --dark4: #2d2d2d;
  --gray1: #888888;
  --red: #e20000;
  --org: #ee8f00;
  --danger: #b41010;
  --warning: #ee8f00;
  --blue: #4797ff;
  --darkBlue: #006ace;
  --lightGreen: #ccffd3;
  --green: #39B54A;
  --darkGreen: #20862E;
}

*{
  text-decoration: none;
  outline: none;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  line-height: 1.5rem;
}

.button{
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--white);
}

.link {
  font-size: 14px;
  color: var(--blue);
  &:hover {
    color: var(--darkBlue);
  }
}

.c-green {
  color: var(--green);
}

.c-red {
  color: var(--danger);
}

.c-orange {
  color: var(--warning);
}

.hr1 {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  padding: 0;
}