/* ---------- COMMON ----------- */
*{
  text-decoration: none;
  outline: none;
}
p {
  font-size: $font-semi-normal;
  line-height: 1.5;
}
.button{
  cursor: pointer;
  outline: none;
  border: none;
  display: block;
  padding: 12px 24px;
  border-radius: 3px;
  background: color(primary);
  font-size: $font-semi-normal;
  font-family: $space;
  font-weight: 500;
  color: color(white);
  &:hover {
    background: color(primary-dark);
    border-color: color(primary-dark);
  }
  @media screen and (min-width: 570px) {
    display: inline-block;
    width: auto;
  }
  &.small {
    padding: 10px 16px;
    font-size: $font-normal;
  }
  &.mini {
    padding: 6px 12px;
    font-size: $font-small-2;
    margin: 2px;
    &.tab-button {
      strong {
        margin-left: 6px;
      }
    }
  }
  &.light {
    background: color(silver);
    color: color(secondary);
    &:hover {
      color: color(white);
      background: color(gray2);
    }
    &.active {
      color: color(white);
      background: color(primary);
    }
  }
  &.danger {
    background: color(danger);
    color: color(white);
    &:hover {
      background: color(danger-dark);
    }
  }
}
.common-alert-bar {
  .message {
    display: block;
    padding: 14px;
    font-size: $font-normal;
    margin-bottom: 16px;
    border-radius: 3px;
    text-align: center;
    &.success {
      background: color(lightGreen);
      color: color(success);
    }
    &.error {
      background: rgba(color(danger), 0.1);
      color: color(danger);
    }
  }
}
.link {
  font-size: $font-normal;
  color: color(primary);
  &:hover {
    color: color(primary-dark);
  }
}
.c-green {
  color: color(success);
}
.c-red {
  color: color(danger);
}
.c-orange {
  color: color(warning);
}
.c-gray {
  color: color(gray1);
}
.hr1 {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  padding: 0;
}
.required-star {
  margin-left: 3px;
  color: color(danger);
}
