/* ----------FORM ----------- */
.ozz-form,
.form {
  * {
    font-family: $space;
    font-size: $font-normal;
  }
  .form-item {
    margin: 0 0 24px;
    &__link {
      font-size: $font-normal;
      color: color(primary);
      &:hover {
        color: color(primary-dark);
      }
    }
  }
  select,
  textarea,
  input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid rgba(color(secondary),0.2);
    border-radius: 5px;
    &:not(input[type="submit"]) {
      transition: .3s ease-in-out;
      &:focus {
        border-color: color(primary);
        box-shadow: 0 0 0 4px rgba(color(primary), 0.2);
      }
    }
    &.error {
      border-color: color(danger);
      background-color: rgba(color(danger), 0.03);
    }
  }
  .button,
  input[type="submit"] {
    @extend .button;
  }
  .message {
    display: grid;
    line-height: 1.3rem;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    &.success {
      color: color(success);
      border: 1px solid rgba(color(success), 0.3);
      background-color: rgba(color(success), 0.05);
    }
    &.warning {
      color: color(warning);
      border: 1px solid rgba(color(warning), 0.3);
      background-color: rgba(color(warning), 0.05);
    }
    &.danger {
      color: color(danger);
      border: 1px solid rgba(color(danger), 0.3);
      background-color: rgba(color(danger), 0.05);
    }
    a {
      display: contents;
    }
  }
  .error-label {
    display: inline-block;
    font-size: $font-small;
    font-style: italic;
    margin-top: 5px;
    color: color(danger);
  }
  .form-error {
    p {
      margin-top: 0;
    }
  }
}
