// Media query
@mixin screen ($size) {
  @media screen and ( min-width: map-get($breakpoints, $size) ) {
    @content;
  }
}

// Icons
@mixin icon {
  background-repeat: no-repeat;
  background-position: center;
}
@mixin icon-sprite {
  background-image: url(../../icons/icons.svg);
  background-repeat: no-repeat;
}
@mixin icon-dashboard {
  @include icon-sprite;
  background-position: 12px 10px;
}
@mixin icon-posts {
  @include icon-sprite;
  background-position: -27px 10px;
}
@mixin icon-blocks {
  @include icon-sprite;
  background-position: -68px 10px;
}
@mixin icon-media {
  @include icon-sprite;
  background-position: -180px 10px;
}
@mixin icon-terms {
  @include icon-sprite;
  background-position: -105px 8px;
}
@mixin icon-settings {
  @include icon-sprite;
  background-position: -142px 9px;
}
@mixin icon-home {
  @include icon-sprite;
  background-position: 0 -82px;
}
@mixin icon-folder {
  @include icon-sprite;
  background-position: -84px -214px;
  background-size: 580px;
  @include screen(xl) {
    background-position: -74px -204px;
  }
  @include screen(xxl) {
    background-position: -95px -244px;
    background-size: 730px;
  }
}
@mixin icon-delete($color: danger) {
  @include icon;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 2V0H15V2H20V4H18V19C18 19.2652 17.8946 19.5196 17.7071 19.7071C17.5196 19.8946 17.2652 20 17 20H3C2.73478 20 2.48043 19.8946 2.29289 19.7071C2.10536 19.5196 2 19.2652 2 19V4H0V2H5ZM4 4V18H16V4H4ZM7 7H9V15H7V7ZM11 7H13V15H11V7Z' fill='#{encodecolor(color($color))}'/%3E%3C/svg%3E%0A");
}
@mixin icon-edit($color: success) {
  @include icon;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.728 6.68596L11.314 5.27196L2 14.586V16H3.414L12.728 6.68596ZM14.142 5.27196L15.556 3.85796L14.142 2.44396L12.728 3.85796L14.142 5.27196ZM4.242 18H0V13.757L13.435 0.321961C13.6225 0.13449 13.8768 0.0291748 14.142 0.0291748C14.4072 0.0291748 14.6615 0.13449 14.849 0.321961L17.678 3.15096C17.8655 3.33849 17.9708 3.5928 17.9708 3.85796C17.9708 4.12313 17.8655 4.37743 17.678 4.56496L4.243 18H4.242Z' fill='#{encodecolor(color($color))}'/%3E%3C/svg%3E%0A");
}
@mixin icon-arrow1($color: secondary) {
  @include icon;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.17192 6.99999L0.221924 2.04999L1.63592 0.635986L7.99992 6.99999L1.63592 13.364L0.221924 11.95L5.17192 6.99999Z' fill='#{encodecolor(color($color))}'/%3E%3C/svg%3E");
}
@mixin icon-publish($color: success) {
  @include icon;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 3V5H2V16H13V11H15V17C15 17.2652 14.8946 17.5196 14.7071 17.7071C14.5196 17.8946 14.2652 18 14 18H1C0.734784 18 0.48043 17.8946 0.292893 17.7071C0.105357 17.5196 0 17.2652 0 17V4C0 3.73478 0.105357 3.48043 0.292893 3.29289C0.48043 3.10536 0.734784 3 1 3H7ZM18 0V8H16V3.413L8.207 11.207L6.793 9.793L14.585 2H10V0H18Z' fill='#{encodecolor(color($color))}'/%3E%3C/svg%3E%0A");
}
@mixin icon-draft($color: warning) {
  @include icon;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8819 18.297C15.1231 19.4126 13.0826 20.0033 10.9999 20C5.60791 20 1.12191 16.12 0.180908 11C0.610938 8.67072 1.78254 6.5429 3.52091 4.93401L0.391908 1.80801L1.80691 0.393005L21.6059 20.193L20.1909 21.607L16.8809 18.297H16.8819ZM4.93491 6.35001C3.57591 7.5856 2.62923 9.20879 2.22291 11C2.5352 12.3665 3.16217 13.6411 4.05391 14.7226C4.94565 15.804 6.07753 16.6624 7.35946 17.2293C8.64139 17.7962 10.038 18.0561 11.438 17.9881C12.838 17.9202 14.2029 17.5264 15.4239 16.838L13.3959 14.81C12.5326 15.3538 11.5101 15.5881 10.4961 15.4744C9.48218 15.3608 8.53695 14.9059 7.81548 14.1844C7.09401 13.463 6.63914 12.5177 6.52547 11.5038C6.4118 10.4898 6.64609 9.46732 7.18991 8.60401L4.93491 6.35001ZM11.9139 13.328L8.67191 10.086C8.49397 10.5389 8.4521 11.034 8.55141 11.5104C8.65073 11.9867 8.88693 12.4238 9.23103 12.7679C9.57513 13.112 10.0122 13.3482 10.4886 13.4475C10.965 13.5468 11.46 13.5049 11.9129 13.327L11.9139 13.328ZM19.8069 15.592L18.3759 14.162C19.0444 13.2093 19.5203 12.1352 19.7769 11C19.5051 9.80973 18.9942 8.68715 18.2751 7.7005C17.5559 6.71385 16.6437 5.88373 15.5938 5.26061C14.5439 4.63749 13.3782 4.23437 12.1676 4.07577C10.9571 3.91717 9.72691 4.00638 8.55191 4.33801L6.97391 2.76001C8.22091 2.27001 9.57991 2.00001 10.9999 2.00001C16.3919 2.00001 20.8779 5.88001 21.8189 11C21.5125 12.6657 20.8238 14.2376 19.8069 15.592ZM10.7229 6.50801C11.3594 6.46867 11.997 6.56507 12.5935 6.79082C13.1899 7.01657 13.7315 7.36652 14.1825 7.81746C14.6334 8.2684 14.9833 8.81003 15.2091 9.40646C15.4348 10.0029 15.5312 10.6405 15.4919 11.277L10.7219 6.50801H10.7229Z' fill='#{encodecolor(color($color))}'/%3E%3C/svg%3E%0A");
}
@mixin icon-draggable($color: gray1) {
  @include icon;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 0C0.675 0 0 0.675 0 1.5C0 2.325 0.675 3 1.5 3C2.325 3 3 2.325 3 1.5C3 0.675 2.325 0 1.5 0ZM1.5 15C0.675 15 0 15.675 0 16.5C0 17.325 0.675 18 1.5 18C2.325 18 3 17.325 3 16.5C3 15.675 2.325 15 1.5 15ZM1.5 7.5C0.675 7.5 0 8.175 0 9C0 9.825 0.675 10.5 1.5 10.5C2.325 10.5 3 9.825 3 9C3 8.175 2.325 7.5 1.5 7.5Z' fill='#{encodecolor(color($color))}'/%3E%3Cpath d='M8.5 0C7.675 0 7 0.675 7 1.5C7 2.325 7.675 3 8.5 3C9.325 3 10 2.325 10 1.5C10 0.675 9.325 0 8.5 0ZM8.5 15C7.675 15 7 15.675 7 16.5C7 17.325 7.675 18 8.5 18C9.325 18 10 17.325 10 16.5C10 15.675 9.325 15 8.5 15ZM8.5 7.5C7.675 7.5 7 8.175 7 9C7 9.825 7.675 10.5 8.5 10.5C9.325 10.5 10 9.825 10 9C10 8.175 9.325 7.5 8.5 7.5Z' fill='#{encodecolor(color($color))}'/%3E%3C/svg%3E%0A");
}
@mixin icon-duplicate($color: darkBlue) {
  @include icon;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4V1C4 0.734784 4.10536 0.48043 4.29289 0.292893C4.48043 0.105357 4.73478 0 5 0H17C17.2652 0 17.5196 0.105357 17.7071 0.292893C17.8946 0.48043 18 0.734784 18 1V15C18 15.2652 17.8946 15.5196 17.7071 15.7071C17.5196 15.8946 17.2652 16 17 16H14V19C14 19.552 13.55 20 12.993 20H1.007C0.875127 20.0008 0.744397 19.9755 0.622322 19.9256C0.500247 19.8757 0.389233 19.8022 0.295659 19.7093C0.202084 19.6164 0.127793 19.5059 0.0770543 19.3841C0.0263156 19.2624 0.000129374 19.1319 0 19L0.00300002 5C0.00300002 4.448 0.453 4 1.009 4H4ZM2.002 6L2 18H12V6H2.002ZM6 4H14V14H16V2H6V4ZM4 9H10V11H4V9ZM4 13H10V15H4V13Z' fill='#{encodecolor(color($color))}'/%3E%3C/svg%3E%0A");
}
