/* ----------WELCOME ----------- */
.welcome{
  position: relative;
  height: calc(100vh - 200px);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  .inner{
    text-align: center;
    color: color(secondary);
    @media screen and (min-width: 768px) {
      padding: 60px;
    }
    h1{
      font-size: $font-semi-medium;
      font-weight: 600;
      margin: 0;
      @media screen and (min-width: 768px) {
        font-size: $font-larger;
        line-height: 4.5rem;
      }
      span{
        color: color(primary);
      }
    }
    h4{
      font-size: $font-semi-normal;
      font-weight: normal;
      line-height: 2rem;
      @media screen and (min-width: 768px) {
        font-size: $font-medium;
      }
    }
  }
}
