/* ---------- VARIABLES ----------- */
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype-variations");
  font-display: swap;
  font-weight: 300 700;
}
/* ---------- COMMON ----------- */
* {
  text-decoration: none;
  outline: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.button, .ozz-form .button,
.ozz-form input[type=submit],
.form .button,
.form input[type=submit] {
  cursor: pointer;
  outline: none;
  border: none;
  display: block;
  padding: 12px 24px;
  border-radius: 3px;
  background: #666EE8;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
.button:hover,
.ozz-form input[type=submit]:hover,
.form input[type=submit]:hover {
  background: #555ed3;
  border-color: #555ed3;
}
@media screen and (min-width: 570px) {
  .button, .ozz-form .button,
  .ozz-form input[type=submit],
  .form .button,
  .form input[type=submit] {
    display: inline-block;
    width: auto;
  }
}
.button.small,
.ozz-form input.small[type=submit],
.form input.small[type=submit] {
  padding: 10px 16px;
  font-size: 16px;
}
.button.mini,
.ozz-form input.mini[type=submit],
.form input.mini[type=submit] {
  padding: 6px 12px;
  font-size: 14px;
  margin: 2px;
}
.button.mini.tab-button strong,
.ozz-form input.mini.tab-button[type=submit] strong,
.form input.mini.tab-button[type=submit] strong {
  margin-left: 6px;
}
.button.light,
.ozz-form input.light[type=submit],
.form input.light[type=submit] {
  background: #e0e0e0;
  color: #212121;
}
.button.light:hover,
.ozz-form input.light[type=submit]:hover,
.form input.light[type=submit]:hover {
  color: #ffffff;
  background: #aaaaaa;
}
.button.light.active,
.ozz-form input.light.active[type=submit],
.form input.light.active[type=submit] {
  color: #ffffff;
  background: #666EE8;
}
.button.danger,
.ozz-form input.danger[type=submit],
.form input.danger[type=submit] {
  background: #b41010;
  color: #ffffff;
}
.button.danger:hover,
.ozz-form input.danger[type=submit]:hover,
.form input.danger[type=submit]:hover {
  background: #990d0d;
}

.common-alert-bar .message {
  display: block;
  padding: 14px;
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  text-align: center;
}
.common-alert-bar .message.success {
  background: #cceed1;
  color: #1b8d2b;
}
.common-alert-bar .message.error, .common-alert-bar .message.danger {
  background: rgba(180, 16, 16, 0.1);
  color: #b41010;
}

.link {
  font-size: 16px;
  color: #666EE8;
}
.link:hover {
  color: #555ed3;
}

.c-green {
  color: #1b8d2b;
}

.c-red {
  color: #b41010;
}

.c-orange {
  color: #ee8f00;
}

.c-gray {
  color: #888888;
}

.hr1 {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  padding: 0;
}

.required-star {
  margin-left: 3px;
  color: #b41010;
}

.ozz-pagination {
  padding: 10px;
}
.ozz-pagination .pagination a {
  text-decoration: none;
}
.ozz-pagination .pagination button {
  padding: 5px 10px;
  background: #e0e0e0;
  color: #2B2E3F;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin: 1px;
  cursor: pointer;
}
.ozz-pagination .pagination button:hover, .ozz-pagination .pagination button.current-page {
  color: #ffffff;
}
.ozz-pagination .pagination button:hover {
  background: #666EE8;
}
.ozz-pagination .pagination button.current-page {
  background: #555ed3;
}

/* ----------LAYOUT ----------- */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
}
body.light-bg {
  background-color: #eeeff8;
}
body main {
  margin: 0;
  padding: 60px 0 0;
  min-height: calc(100vh - 214px);
}
body .component__heading-1 {
  margin: 0 0 24px 0;
  line-height: 2.5rem;
  font-size: 26px;
  color: #212121;
}
body .container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  body .container {
    padding: 0 24px;
  }
}
body .col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 24px;
}
body .center {
  margin-left: auto;
  margin-right: auto;
}
body .right-align {
  text-align: right;
}
body .left-align {
  text-align: left;
}

/* ----------FORM ----------- */
.ozz-form *,
.form * {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}
.ozz-form .form-item,
.form .form-item {
  margin: 0 0 24px;
}
.ozz-form .form-item__link,
.form .form-item__link {
  font-size: 16px;
  color: #666EE8;
}
.ozz-form .form-item__link:hover,
.form .form-item__link:hover {
  color: #555ed3;
}
.ozz-form select,
.ozz-form textarea,
.ozz-form input,
.form select,
.form textarea,
.form input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
}
.ozz-form select:not(input[type=submit]),
.ozz-form textarea:not(input[type=submit]),
.ozz-form input:not(input[type=submit]),
.form select:not(input[type=submit]),
.form textarea:not(input[type=submit]),
.form input:not(input[type=submit]) {
  transition: 0.3s ease-in-out;
}
.ozz-form select:not(input[type=submit]):focus,
.ozz-form textarea:not(input[type=submit]):focus,
.ozz-form input:not(input[type=submit]):focus,
.form select:not(input[type=submit]):focus,
.form textarea:not(input[type=submit]):focus,
.form input:not(input[type=submit]):focus {
  border-color: #666EE8;
  box-shadow: 0 0 0 4px rgba(102, 110, 232, 0.2);
}
.ozz-form select.error,
.ozz-form textarea.error,
.ozz-form input.error,
.form select.error,
.form textarea.error,
.form input.error {
  border-color: #b41010;
  background-color: rgba(180, 16, 16, 0.03);
}
.ozz-form .message,
.form .message {
  display: grid;
  line-height: 1.3rem;
  padding: 6px 10px;
  border-radius: 5px;
  text-align: center;
}
.ozz-form .message.success,
.form .message.success {
  color: #1b8d2b;
  border: 1px solid rgba(27, 141, 43, 0.3);
  background-color: rgba(27, 141, 43, 0.05);
}
.ozz-form .message.warning,
.form .message.warning {
  color: #ee8f00;
  border: 1px solid rgba(238, 143, 0, 0.3);
  background-color: rgba(238, 143, 0, 0.05);
}
.ozz-form .message.danger,
.form .message.danger {
  color: #b41010;
  border: 1px solid rgba(180, 16, 16, 0.3);
  background-color: rgba(180, 16, 16, 0.05);
}
.ozz-form .message a,
.form .message a {
  display: contents;
}
.ozz-form .error-label,
.form .error-label {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
  color: #b41010;
}
.ozz-form .form-error p,
.form .form-error p {
  margin-top: 0;
}

/* ----------WELCOME ----------- */
.welcome {
  position: relative;
  height: calc(100vh - 200px);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.welcome .inner {
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .welcome .inner {
    padding: 60px;
  }
}
.welcome .inner h1 {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .welcome .inner h1 {
    font-size: 62px;
    line-height: 4.5rem;
  }
}
.welcome .inner h1 span {
  color: #666EE8;
}
.welcome .inner h4 {
  font-size: 18px;
  font-weight: normal;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .welcome .inner h4 {
    font-size: 26px;
  }
}

/* ----------AUTH ----------- */
body.auth {
  background: #eeeff8;
}
body.auth .verify-account {
  text-align: center;
}
body .off-bottom-link {
  margin: 50px 0;
  text-align: center;
}
body .off-bottom-link p,
body .off-bottom-link span {
  font-size: 16px;
  color: #888888;
}
body .auth-comp {
  width: calc(100% - 24px);
  max-width: 390px;
  padding: 36px 0;
  margin-top: 60px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 100, 0.05);
  background: #ffffff;
}
@media screen and (min-width: 570px) {
  body .auth-comp {
    padding: 35px 15px;
  }
}
@media screen and (min-width: 768px) {
  body .auth-comp {
    padding: 48px;
  }
}
body .auth-comp .bottom-links {
  display: grid;
  grid-template-columns: auto auto;
}
body .auth-comp.user-card .container {
  display: grid;
  grid-template-columns: 80px auto;
  grid-gap: 32px;
  align-items: center;
}
body .auth-comp.user-card .profile-pic img {
  border-radius: 50%;
}
body .auth-comp.user-card .content h1 {
  margin: 0 0 12px;
}
body .auth-comp.user-card .content p {
  margin: 0;
}
body .auth-comp.user-card .content p:nth-of-type(1) {
  margin-bottom: 6px;
}

/* ----------HEADER ----------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
@media screen and (min-width: 768px) {
  header {
    height: 60px;
  }
}
header .container {
  max-width: 1200px;
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-columns: 1fr auto;
  padding: 0 12px;
}
@media screen and (min-width: 570px) {
  header .container {
    padding: 0 30px;
  }
}
header .container .logo {
  font-weight: 600;
  font-size: 18px;
  color: #666EE8;
  display: flex;
  align-items: center;
}
header .container .logo,
header .container .logo img {
  max-height: 50px;
  max-width: 170px;
}
@media screen and (min-width: 768px) {
  header .container .logo,
  header .container .logo img {
    max-height: 55px;
  }
}
header .container ul {
  display: flex;
}
header .container ul li {
  list-style: none;
}
header .container ul li a {
  padding: 10px;
  color: #212121;
  font-weight: 500;
}

/* ---------- ERROR COMPONENT ----------- */
.error-component {
  text-align: center;
  height: 80vh;
  display: grid;
  align-items: center;
}
.error-component .container h1 {
  font-size: 26px;
  line-height: 1;
}
.error-component .container h2 {
  color: #888888;
  font-weight: 400;
  line-height: 1;
}/*# sourceMappingURL=styles.css.map */