/* ---------- VARIABLES ----------- */
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype-variations");
  font-display: swap;
  font-weight: 300 700;
}
/* ---------- COMMON ----------- */
* {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 26px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.button, .ozz-fm .button,
.ozz-fm input[type=submit],
.form .button,
.form input[type=submit] {
  cursor: pointer;
  outline: none;
  border: none;
  display: block;
  padding: 12px 24px;
  border-radius: 3px;
  background: #666EE8;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
.button:hover,
.ozz-fm input[type=submit]:hover,
.form input[type=submit]:hover {
  background-color: #555ed3;
  border-color: #555ed3;
}
@media screen and (min-width: 570px) {
  .button, .ozz-fm .button,
  .ozz-fm input[type=submit],
  .form .button,
  .form input[type=submit] {
    display: inline-block;
    width: auto;
  }
}
.button.small,
.ozz-fm input.small[type=submit],
.form input.small[type=submit] {
  padding: 8px 14px;
  font-size: 16px;
}
.button.mini,
.ozz-fm input.mini[type=submit],
.form input.mini[type=submit] {
  padding: 5px 12px;
  font-size: 14px;
  margin: 2px;
}
.button.mini.tab-button strong,
.ozz-fm input.mini.tab-button[type=submit] strong,
.form input.mini.tab-button[type=submit] strong {
  margin-left: 6px;
}
.button.micro,
.ozz-fm input.micro[type=submit],
.form input.micro[type=submit] {
  padding: 4px 8px;
  font-size: 13px;
  margin: 2px;
}
.button.light,
.ozz-fm input.light[type=submit],
.form input.light[type=submit] {
  background-color: #F7F9FA;
  border: 1px solid #e0e0e0;
  color: #212121;
  border-radius: 3px;
}
.button.light:hover,
.ozz-fm input.light[type=submit]:hover,
.form input.light[type=submit]:hover {
  background-color: #eeeff8;
}
.button.light.active,
.ozz-fm input.light.active[type=submit],
.form input.light.active[type=submit] {
  color: #ffffff;
  background-color: #666EE8;
  border-color: transparent;
}
.button.danger,
.ozz-fm input.danger[type=submit],
.form input.danger[type=submit] {
  background-color: #F9014E;
  color: #ffffff;
}
.button.danger:hover,
.ozz-fm input.danger[type=submit]:hover,
.form input.danger[type=submit]:hover {
  background-color: #c7003f;
}
.button.green,
.ozz-fm input.green[type=submit],
.form input.green[type=submit] {
  background-color: #02be5a;
}
.button.green:hover,
.ozz-fm input.green[type=submit]:hover,
.form input.green[type=submit]:hover {
  background-color: #00a74e;
}

.common-alert-bar {
  position: fixed;
  max-width: 500px;
  top: 60px;
  right: 42px;
  z-index: 997;
}
.common-alert-bar .message {
  display: block;
  padding: 16px 30px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px 0 0 5px;
  transition: 0.3s ease-in-out;
  animation: slide-from-right 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}
.common-alert-bar .message.success {
  color: #02be5a;
  border-right: 6px solid #02be5a;
}
.common-alert-bar .message.error, .common-alert-bar .message.danger {
  color: #F9014E;
  border-right: 6px solid #F9014E;
}
.common-alert-bar .message.info {
  background-color: #666EE8;
  border-right: 6px solid #666EE8;
}

.link {
  font-size: 16px;
  color: #666EE8;
}
.link:hover {
  color: #555ed3;
}

.c-green {
  color: #02be5a;
}

.c-red {
  color: #F9014E;
}

.c-orange {
  color: #ee8f00;
}

.c-gray {
  color: #888888;
}

.hr1 {
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  padding: 0;
}

.required-star {
  margin-left: 3px;
  color: #F9014E;
}

.ozz-pagination {
  padding: 10px;
}
.ozz-pagination .pagination a {
  text-decoration: none;
}
.ozz-pagination .pagination button {
  padding: 5px 10px;
  background-color: #e0e0e0;
  color: #2B2E3F;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin: 1px;
  cursor: pointer;
}
.ozz-pagination .pagination button:hover, .ozz-pagination .pagination button.current-page {
  color: #ffffff;
}
.ozz-pagination .pagination button:hover {
  background-color: #666EE8;
}
.ozz-pagination .pagination button.current-page {
  background-color: #555ed3;
}

/* ----------LAYOUT ----------- */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
}
body.light-bg {
  background-color: #eeeff8;
}
body main {
  margin: 0;
  padding: 46px 0 0;
  min-height: calc(100vh - 214px);
}
body .component__heading-1 {
  margin: 0 0 24px 0;
  line-height: 2.5rem;
  font-size: 26px;
  color: #212121;
}
body .container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  body .container {
    padding: 0 24px;
  }
}
body .col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 24px;
}
body .center {
  margin-left: auto;
  margin-right: auto;
}
body .right-align {
  text-align: right;
}
body .left-align {
  text-align: left;
}

/* ----------FORM ----------- */
.ozz-fm *,
.form * {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}
.ozz-fm .form-item,
.form .form-item {
  margin: 0 0 24px;
}
.ozz-fm .form-item__link,
.form .form-item__link {
  font-size: 16px;
  color: #666EE8;
}
.ozz-fm .form-item__link:hover,
.form .form-item__link:hover {
  color: #555ed3;
}
.ozz-fm select,
.ozz-fm textarea,
.ozz-fm input,
.form select,
.form textarea,
.form input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
}
.ozz-fm select:not(input[type=submit]),
.ozz-fm textarea:not(input[type=submit]),
.ozz-fm input:not(input[type=submit]),
.form select:not(input[type=submit]),
.form textarea:not(input[type=submit]),
.form input:not(input[type=submit]) {
  transition: 0.3s ease-in-out;
}
.ozz-fm select:not(input[type=submit]):focus,
.ozz-fm textarea:not(input[type=submit]):focus,
.ozz-fm input:not(input[type=submit]):focus,
.form select:not(input[type=submit]):focus,
.form textarea:not(input[type=submit]):focus,
.form input:not(input[type=submit]):focus {
  border-color: #666EE8;
  box-shadow: 0 0 0 4px rgba(102, 110, 232, 0.2);
}
.ozz-fm select.error,
.ozz-fm textarea.error,
.ozz-fm input.error,
.form select.error,
.form textarea.error,
.form input.error {
  border-color: #F9014E;
  background-color: rgba(249, 1, 78, 0.03);
}
.ozz-fm .message,
.form .message {
  display: grid;
  line-height: 1.3rem;
  padding: 6px 10px;
  border-radius: 5px;
  text-align: center;
}
.ozz-fm .message.success,
.form .message.success {
  color: #02be5a;
  border: 1px solid rgba(2, 190, 90, 0.3);
  background-color: rgba(2, 190, 90, 0.05);
}
.ozz-fm .message.warning,
.form .message.warning {
  color: #ee8f00;
  border: 1px solid rgba(238, 143, 0, 0.3);
  background-color: rgba(238, 143, 0, 0.05);
}
.ozz-fm .message.danger,
.form .message.danger {
  color: #F9014E;
  border: 1px solid rgba(249, 1, 78, 0.3);
  background-color: rgba(249, 1, 78, 0.05);
}
.ozz-fm .message a,
.form .message a {
  display: contents;
}
.ozz-fm .error-label,
.form .error-label {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
  color: #F9014E;
}
.ozz-fm .form-error p,
.form .form-error p {
  margin-top: 0;
}
.ozz-fm__repeat,
.form__repeat {
  margin-bottom: 20px;
  padding: 4px 3px 4px 4px;
  border: 1px solid #aeb6da;
}
.ozz-fm__repeat, .ozz-fm__repeat-wrapper,
.form__repeat,
.form__repeat-wrapper {
  border-radius: 5px;
}
.ozz-fm__repeat-fields,
.form__repeat-fields {
  padding-left: 10px;
  border-radius: 5px 0 0 0;
  min-width: 250px;
}
.ozz-fm__repeat-head,
.form__repeat-head {
  position: relative;
  width: calc(100% + 17px);
  margin: 0 0 3px -14px;
  height: 34px;
  background: #eeeff8;
  cursor: move;
}
.ozz-fm__repeat-head:before, .ozz-fm__repeat-head:after,
.form__repeat-head:before,
.form__repeat-head:after {
  position: absolute;
  content: "";
  top: 2px;
  width: 20px;
  height: 29px;
  background-image: url(../../icons/icons.svg);
  background-repeat: no-repeat;
}
.ozz-fm__repeat-head:before,
.form__repeat-head:before {
  left: 6px;
  background-position: -79px -113px;
}
.ozz-fm__repeat-head:after,
.form__repeat-head:after {
  left: 40px;
  background-position: -118px -111px;
}
.ozz-fm__repeat-body,
.form__repeat-body {
  padding: 10px 0 20px;
}
.ozz-fm__repeat-remove,
.form__repeat-remove {
  position: absolute;
  right: 3px;
  top: 3px;
}
.ozz-fm__repeat-label,
.form__repeat-label {
  margin-bottom: 6px;
  padding: 0 6px;
  font-size: 15px;
  font-weight: 600;
  color: #666EE8;
}
.ozz-fm__repeat-number,
.form__repeat-number {
  position: absolute;
  right: 70px;
  top: 0;
  padding: 7px 4px;
  height: 34px;
  font-weight: 600;
  color: #2B2E3F;
  text-align: right;
}
.ozz-fm__repeat.single,
.form__repeat.single {
  width: calc(100% - 2px);
}
.ozz-fm__repeat.single .ozz-fm__repeat-fields,
.form__repeat.single .ozz-fm__repeat-fields {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}
.ozz-fm__repeat.single .ozz-fm__repeat-fields:not(:last-of-type),
.form__repeat.single .ozz-fm__repeat-fields:not(:last-of-type) {
  border-bottom: 1px solid rgba(170, 170, 170, 0.5);
}
.ozz-fm__repeat.single .ozz-fm__repeat-fields-field,
.form__repeat.single .ozz-fm__repeat-fields-field {
  max-width: calc(100% - 130px);
  margin-left: 60px;
}
.ozz-fm__repeat.single .ozz-fm__repeat-number,
.form__repeat.single .ozz-fm__repeat-number {
  position: absolute;
  left: 0;
  right: auto;
  padding: 10px;
  width: 60px;
  text-align: center;
}
.ozz-fm__repeat .single,
.form__repeat .single {
  padding: 10px 4px 4px;
}

/* ----------WELCOME ----------- */
.welcome {
  position: relative;
  height: calc(100vh - 200px);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.welcome .inner {
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .welcome .inner {
    padding: 60px;
  }
}
.welcome .inner h1 {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .welcome .inner h1 {
    font-size: 62px;
    line-height: 4.5rem;
  }
}
.welcome .inner h1 span {
  color: #666EE8;
}
.welcome .inner h4 {
  font-size: 18px;
  font-weight: normal;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .welcome .inner h4 {
    font-size: 26px;
  }
}

/* ----------AUTH ----------- */
body.auth {
  background: #eeeff8;
}
body.auth .verify-account {
  text-align: center;
}
body .off-bottom-link {
  margin: 50px 0;
  text-align: center;
}
body .off-bottom-link p,
body .off-bottom-link span {
  font-size: 16px;
  color: #888888;
}
body .auth-comp {
  width: calc(100% - 24px);
  max-width: 390px;
  padding: 36px 0;
  margin-top: 60px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 100, 0.05);
  background: #ffffff;
}
@media screen and (min-width: 570px) {
  body .auth-comp {
    padding: 35px 15px;
  }
}
@media screen and (min-width: 768px) {
  body .auth-comp {
    padding: 48px;
  }
}
body .auth-comp .bottom-links {
  display: grid;
  grid-template-columns: auto auto;
}
body .auth-comp.user-card .container {
  display: grid;
  grid-template-columns: 80px auto;
  grid-gap: 32px;
  align-items: center;
}
body .auth-comp.user-card .profile-pic img {
  border-radius: 50%;
}
body .auth-comp.user-card .content h1 {
  margin: 0 0 12px;
}
body .auth-comp.user-card .content p {
  margin: 0;
}
body .auth-comp.user-card .content p:nth-of-type(1) {
  margin-bottom: 6px;
}

/* ----------HEADER ----------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  header {
    height: 50px;
  }
}
header .container {
  max-width: 1200px;
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-columns: 1fr auto;
  padding: 0 12px;
}
@media screen and (min-width: 570px) {
  header .container {
    padding: 0 30px;
  }
}
header .container .logo {
  font-weight: 600;
  font-size: 18px;
  color: #666EE8;
  display: flex;
  align-items: center;
}
header .container .logo,
header .container .logo img {
  max-height: 50px;
  max-width: 170px;
}
@media screen and (min-width: 768px) {
  header .container .logo,
  header .container .logo img {
    max-height: 35px;
  }
}
header .container ul {
  display: flex;
}
header .container ul li {
  list-style: none;
}
header .container ul li a {
  padding: 10px;
  color: #212121;
  font-weight: 500;
}

/* ---------- ERROR COMPONENT ----------- */
.error-component {
  text-align: center;
  height: 80vh;
  display: grid;
  align-items: center;
}
.error-component .container h1 {
  font-size: 26px;
  line-height: 1;
}
.error-component .container h2 {
  color: #888888;
  font-weight: 400;
  line-height: 1;
}/*# sourceMappingURL=styles.css.map */