:root{--dark1: #1e1e1e;--dark2: #212121;--dark3: #333;--dark4: #2d2d2d;--red: #e20000;--org: #f8c555;--green: #88bf3d}*{text-decoration:none;outline:none}body{margin:0;padding:0;background-color:#fff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}button{padding:10px 15px;font-size:16px;border:none;border-radius:5px;background-color:var(--green);color:#fff}.page-container{margin-top:80px}.container{max-width:900px;margin-left:auto;margin-right:auto}.greeting{position:relative}.greeting .inner{margin-top:15%;text-align:center;padding:60px}.greeting .inner img{width:150px;margin:0}.greeting .inner h1{font-size:62px;color:var(--dark3);font-weight:200;line-height:62px;margin:0;padding:0}.greeting .inner h1 span{color:var(--green);font-weight:700}.greeting .inner h4{font-size:22px;color:rgba(0,0,0,0.5);font-weight:normal;line-height:32px}
 margin: 0;
  padding: 0;
}

.greeting .inner h1 span {
  color: var(--green);
  font-weight: 700;
}

.greeting .inner h4 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  line-height: 32px;
}
